/* list style */
.profile-card {
    width: 260px;
    background: #f7f9fb;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.profile-image img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.section-title {
    text-align: left;
    margin-top: 25px;
    font-weight: 600;
}

.divider {
    border: none;
    border-bottom: 1px solid #aaa;
    margin: 5px 0 15px 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    text-align: left;
}

.menu li {
    margin: 15px 0;
}

.menu li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: 0.2s;
}

.menu li a:hover {
    color: #000;
}

/* detalis style */

.account-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.info-box p {
    margin: 8px 0;
    font-size: 16px;
}

.edit-btn, .save-btn {
    padding: 10px 20px;
    background: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 15px;
}

/* .edit-btn:hover, .save-btn:hover {
    background: #000000;
} */

.edit-form {
    margin-top: 25px;
}

.hidden {
    display: none;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
}

.note {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 13px;
    color: #666;
}
